<html>

<head>
  <title>MVCP</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>

<body>

  <div id="app_container" class="container"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="/modules/core/client/navbaritem.model.js"></script>
  <script src="/modules/core/client/navbaritem.view.js"></script>
  <script src="/modules/core/client/navbar.collection.js"></script>
  <script src="/modules/core/client/navbar.view.js"></script>

  <script src="/modules/core/client/app.model.js"></script>
  <script src="/modules/core/client/app.view.js"></script>

  <script src="/public/router.js"></script>

  <script src="/modules/core/client/init.js"></script>

  
</body>

</html>